.header {
  height: 8vh;
  width: 100vw;
  background: var(--darkerBg);
  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.75);;
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.75);;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.75);
}

.logo-img-wrapper {
    height: 100%;
    margin: 0 50px;
    cursor: pointer;
}

.logo-img {
    height: 100%;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--mainText);
}

.header-link {
    padding: 10px;
}

.header-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 50px;
}


@media screen and (max-width: 400px) {
    .logo-img-wrapper {
        margin: 0 20px;
    }
    .header-links {
        margin: 0 20px;
    }
}